*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1250px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  display: grid;
  justify-content: center; }
  body::selection {
    background-color: #ebfbff !important; }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

.header {
  background: url(../images/bg-hero-desktop.svg) #ebfbff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh; }
  @media only screen and (max-width: 900px) {
    .header {
      height: 150vh;
      background-image: url(../images/bg-hero-mobile.svg); } }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    height: 7rem; }
    @media only screen and (max-width: 900px) {
      .header .nav {
        justify-content: space-evenly; } }
    .header .nav img {
      max-width: 20rem;
      margin-left: 5rem; }
      @media only screen and (max-width: 900px) {
        .header .nav img {
          width: 30rem;
          margin-left: 2rem; } }
    .header .nav-link {
      margin-right: 6rem;
      font-size: 1.4rem;
      font-weight: 700;
      text-decoration: none;
      color: #00252e;
      line-height: 1;
      box-shadow: 0 0.25rem 1rem rgba(128, 141, 153, 0.5);
      background: #fff;
      padding: 1.8rem 6rem;
      border-radius: 10rem; }
      @media only screen and (max-width: 900px) {
        .header .nav-link {
          margin-right: 0; } }
  .header .content {
    margin: 5rem 7rem;
    display: flex; }
    @media only screen and (max-width: 900px) {
      .header .content {
        flex-wrap: wrap;
        margin: 0;
        margin-top: 20rem; } }
    .header .content .text {
      align-self: center;
      font-size: 1.8rem;
      display: grid;
      grid-gap: 5rem; }
      @media only screen and (max-width: 900px) {
        .header .content .text {
          justify-content: center; } }
    .header .content .heading {
      font-size: 4rem;
      color: #00252e; }
      @media only screen and (max-width: 900px) {
        .header .content .heading {
          font-size: 5rem;
          width: 80%;
          text-align: center;
          justify-self: center; } }
    .header .content p {
      line-height: 1.5; }
      @media only screen and (max-width: 900px) {
        .header .content p {
          width: 70vw;
          text-align: center;
          font-size: 3rem;
          justify-self: center; } }
    .header .content img {
      max-width: 60rem;
      margin-left: 7rem; }
      @media only screen and (max-width: 900px) {
        .header .content img {
          margin: 0;
          margin-top: 10rem; } }
    .header .content .btn {
      font-size: 1.4rem;
      background-color: #ff52bf;
      text-decoration: none;
      color: white;
      margin-top: -2rem;
      padding: 1.75rem 7rem;
      justify-self: start;
      border-radius: 10rem;
      font-weight: 700;
      box-shadow: 0 0 1rem #808d99; }
      @media only screen and (max-width: 900px) {
        .header .content .btn {
          justify-self: center;
          font-size: 4rem; } }

.main {
  max-width: 100%;
  margin: 10rem;
  margin-top: 20rem;
  display: grid;
  grid-gap: 5rem; }
  .main .item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 1rem rgba(128, 141, 153, 0.2);
    padding: 5rem;
    border-radius: 2rem; }
    @media only screen and (max-width: 900px) {
      .main .item {
        justify-content: center; } }
    .main .item__img {
      max-width: 40rem; }
    .main .item__text {
      max-width: 45%;
      margin-left: 5rem; }
      @media only screen and (max-width: 900px) {
        .main .item__text {
          max-width: 100%;
          margin: 5rem;
          text-align: center;
          order: 2; } }
      .main .item__text .heading {
        font-size: 3rem;
        margin-top: -5rem;
        color: #00252e; }
        @media only screen and (max-width: 900px) {
          .main .item__text .heading {
            font-size: 3.5rem; } }
      .main .item__text p {
        font-size: 1.8rem;
        margin-top: 2rem;
        color: #808d99; }
        @media only screen and (max-width: 900px) {
          .main .item__text p {
            font-size: 2.5rem; } }

.cta {
  padding: 6rem 15rem;
  position: relative;
  margin-bottom: -20rem;
  background-color: white;
  justify-self: center;
  z-index: 2;
  margin-top: 10rem;
  display: grid;
  grid-gap: 4rem;
  justify-content: center;
  box-shadow: 0 0 1rem rgba(128, 141, 153, 0.2);
  border-radius: 2rem; }
  @media only screen and (max-width: 900px) {
    .cta {
      width: 10%;
      display: none; } }
  .cta .btn {
    font-size: 2rem;
    background-color: #ff52bf;
    text-decoration: none;
    color: white;
    margin-top: -2rem;
    padding: 2rem 8rem;
    border-radius: 10rem;
    font-weight: 700;
    justify-self: center;
    box-shadow: 0 0 1rem #808d99; }
  .cta .heading {
    font-size: 3rem;
    color: #00252e; }

.footer {
  padding: 17.5rem 12.5rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
  font-size: 1.8rem;
  color: white;
  background-color: #00252e;
  display: grid;
  grid-gap: 5rem; }
  @media only screen and (max-width: 900px) {
    .footer {
      padding-right: 12.5rem;
      width: 100%; } }
  .footer__item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; }
    @media only screen and (max-width: 900px) {
      .footer__item {
        grid-template-columns: 1fr;
        justify-content: start; } }
  .footer .item-1 {
    display: grid;
    grid-gap: 3rem 2rem;
    width: 45rem;
    grid-template-columns: 5rem 1fr;
    align-items: center; }
    .footer .item-1 > :first-child {
      align-self: start;
      margin-top: 1rem; }
  .footer .item-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 20rem));
    grid-auto-rows: 4rem;
    justify-content: center; }
    @media only screen and (max-width: 900px) {
      .footer .item-2 {
        margin-top: 5rem;
        grid-template-columns: 1fr;
        justify-content: start;
        justify-self: start; } }
  .footer .item-3 {
    width: 15rem;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 900px) {
      .footer .item-3 {
        justify-self: center; } }
    .footer .item-3 > a {
      font-size: 1.3rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      align-items: center; }
    .footer .item-3 > :not(:last-child) {
      margin-right: 2rem; }
  .footer__copy {
    font-size: 1.3rem;
    justify-self: end; }
    @media only screen and (max-width: 900px) {
      .footer__copy {
        justify-self: center;
        text-align: center; } }
  .footer__link {
    text-decoration: none;
    color: white; }

* {
  margin-right: 0 !important; }
